<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
          <div>
            
          
            <h2 class="chead">APSARA</h2>
           
            <h5 class="ctext">For a truly memorable dining<br>
               experience reserve in advance a <br>
               table as soon as you can. <br>
              Come and taste our remarkable <br>food.</h5>
          </div>
        </div>
      
      <div class="col-sm-3">
          <div>
        
            <h2 class="chead">ADDRESS</h2>
           
            <h5 class="ctext">ABC-5/100<br>
              ROHINI, DELHI, INDIA<br>
<br>
              <br>
              P: 9643465099<br>
              E: contact@gmail.com</h5>
          </div>
        </div>
        <div class="col-sm-3">
            <div>
                
         
              <h2 class="chead">HOURS
                </h2>
               
              <h5 class="ctext">Monday – Sunday<br>
                Lunch: 12PM – 2PM<br>
            <br>
                Dinner: 6PM – 10PM<br>
                <br>
                Happy Hours: 4PM – 6PM</h5>
            </div>
          </div>
          <div class="col-sm-3">
    
          <div>
             
        
            <h2 class="chead">MORE INFO</h2>
            
                <h5 class="ctext">In our menu you’ll find a wide variety of dishes, desserts, and drinks..</h5>
              </div>
            </div>
          </div>
</div>
</body>