
<div class="container-fluid">
  <div class="row rel">
                  <div class="col-sm-12">
                          
<div class="desparallax"></div>
<h1 class="atext awesome wow zoomIn">DESSERTS</h1>
                          </div>
                          </div>
<div class="row">
  <div class="col-sm-4">

 <div class="card card-1">
     <img src="assets\images\dessert\gulab jamun-.jpg">
     <div class="hit-the-floor">GULAB JAMUN</div>
     <p class="disc"></p>
     <h4 class="rup">&#8377;200</h4>
     <button class="slide">Order</button>                
  </div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\dessert\kulfi.jpg">
<div class="hit-the-floor">KULFI</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
  <img src="assets\images\dessert\mango-ice-cream.jpg">
<div class="hit-the-floor">MANGO ICE-CREAM</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">

<div class="card card-1">
<img src="assets\images\dessert\marshmallow dessert.jpg">
<div class="hit-the-floor">MARSHMALLOW DESSERT</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button>                
</div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\dessert\vanilla-ice-cream-.jpg">
<div class="hit-the-floor">VANILLA ICE CREAM</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>

</div>

</div>

