
<div class="container-fluid">
  <div class="row rel">
                  <div class="col-sm-12">
                          
<div class="driparallax"></div>
<h1 class="atext awesome">DRINKS</h1>
                          </div>
                          </div>
<div class="row">
  <div class="col-sm-4">

 <div class="card card-1">
     <img src="assets\images\drinks\coffee-mug-1493946797.jpg">
     <div class="hit-the-floor">COFFEE</div>
     <p class="disc"></p>
     <h4 class="rup">&#8377;200</h4>
     <button class="slide">Order</button>                
  </div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\drinks\mango-lassi.jpg">
<div class="hit-the-floor">MANGO LASSI</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
  <img src="assets\images\drinks\mARGARITA.jpg">
<div class="hit-the-floor">MARGARITA</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">

<div class="card card-1">
<img src="assets\images\drinks\ORANGE.jpg">
<div class="hit-the-floor">ORANGE JUICE</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button>                
</div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\drinks\strawberry smoothie.jpg">
<div class="hit-the-floor">STRAWBERRY SMOOTHIE</div>
<p class="disc"></p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>

</div>

</div>

