

<head>
  <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Chela+One|Merienda" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <title>Hover effect</title>
  

  
</head>

<body>
    <div class="parallax">
      
<h1 class=" neon top item animated zoomIn">OUR MENU</h1>
<p class="neon slideinup animated zoomIn" style="font-size:50px;">Good Food, Great Taste</p>

    </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
  <div class="box-hover">
  <div class="box">
    <img src="assets\images\stark.jpg" class="img-responsive" style="width:100%" alt="" />
    <div class="border"></div>
    <div class="box-title">
    
    </div>
  </div>
</div>
</div>
<div class="col-sm-6">
  <div>
    <h1 class="h1">Starters</h1>
    <p class="font">The start of any meal is so important...So brace <br>
      your appetite, while waiting for your main course. <br>
      Our diverse and delicious appetizers will help you with that!</p>
      <div class="buttons">
        <a routerLink="starters"><button class="pulse">SEE MENU</button></a>
       </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <div>
        <h1 class="h1">Main Courses</h1>
        <p class="font">Apsara's menu knows no borders and nationalities. 
          At the core of our main courses roaster we have the idea of a cosmopolitan, contemporary cuisine. 
          So whether you'll pick a meat, fish or vegetarian main course, be sure that it will be universally good!</p>
          <a routerLink="main"><button class="pulse">SEE MENU</button></a>
        </div>
        </div>
<div class="col-sm-6">
    <div class="box-hover-2">
        <div class="box">
          <img src="assets\images\main course.jpg"class="img-responsive" style="width:100%" alt="" />
          <div class="border"></div>
          <div class="box-title">
           
          </div>
        </div>
      </div>
  
</div>
</div>
<div class="row">
    <div class="col-sm-6">
<div class="box-hover">
<div class="box">
<img src="assets\images\thumb-1920-341445.jpg" class="img-responsive" style="width:100%" alt="" />
<div class="border"></div>
<div class="box-title">

</div>
</div>
</div>
</div>
<div class="col-sm-6">
<div>
<h1 class="h1">Desserts</h1>
<p class="font">That sweet taste of a dessert at the end of the meal...If you look forward to it too, 
  then you're at the right place! Our menu has prolific choice of desserts. 
  It can make even the most picky sweet tooth person happy!</p>
<div class="buttons">
  <a routerLink="desserts"><button class="pulse">SEE MENU</button></a>
 </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-sm-6">
      <div>
        <h1 class="h1">Drinks</h1>
        <p class="font">Refresh yourself while enjoying a flavorsome dinner or a lunch at our place. 
          We at the Apsara offer different beverages and mixed drinks.!</p>
          <a routerLink="drinks"><button class="pulse">SEE MENU</button></a>
        </div>
        </div>
<div class="col-sm-6">
    <div class="box-hover-2">
        <div class="box">
          <img src="assets\images\ismixingdrin.jpg"class="img-responsive" style="width:100%" alt="" />
          <div class="border"></div>
          <div class="box-title">
          
          </div>
        </div>
      </div>
  
</div>
</div>
</div>

</body>

