
<div class="container-fluid">
  <div class="row rel">
                  <div class="col-sm-12">
                          
<div class="maiparallax"></div>
<h1 class="atext awesome">MAIN COURSE</h1>
                          </div>
                          </div>
<div class="row">
  <div class="col-sm-4">

 <div class="card card-1">
     <img src="assets\images\main course\butter chicken.jpg">
     <div class="hit-the-floor">BUTTER CHICKEN</div>
     <p class="disc">seasoned potatoes and vegetables with crispy wafers</p>
     <h4 class="rup">&#8377;300</h4>
     <button class="slide">Order</button>                
  </div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\main course\chicken tandoori.jpg">
<div class="hit-the-floor"style="font-size:29.7px;">CHICKEN TANDOORI</div>
<p class="disc">Homemade cheese fried in chickpea batter.</p>
<h4 class="rup">&#8377;450</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
  <img src="assets\images\main course\dal makhani.jpg">
<div class="hit-the-floor">DAL MAKHANI</div>
<p class="disc">Ground lamb sausage served on sizzler</p>
<h4 class="rup">&#8377;250</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">

<div class="card card-1">
<img src="assets\images\main course\lamb potato.jpg">
<div class="hit-the-floor">LAMB POTATO</div>
<p class="disc">Indian version of a veggie wrap served with mint and imli chutney</p>
<h4 class="rup">&#8377;280</h4>
<button class="slide">Order</button>                
</div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\main course\malai kabab.jpg">
<div class="hit-the-floor">MALAI KABAB</div>
<p class="disc">crispy pastry stuffed with potato and peas served with mint and imli chutney.</p>
<h4 class="rup">&#8377;320</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\main course\mix biryani.jpg">
<div class="hit-the-floor">MIX BIRYANI</div>
<p class="disc">ightly bathed in a besan batter and fried.</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">

<div class="card card-1">
<img src="assets\images\main course\mix veg.m3.jpg">
<div class="hit-the-floor">MIX VEG</div>
<p class="disc">Fish marinated with yoghurt & spiced in lemon juice & cooked in clay oven</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button>                
</div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\main course\shahi panner.m1.jpg">
<div class="hit-the-floor">SHAHI PANNER
</div>
<p class="disc">stuffed with cherries and cashews, great for kids.</p>
<h4 class="rup">&#8377;300</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\main course\veg pulao.m4.jpg">
<div class="hit-the-floor">VEG PULAO</div>
<p class="disc">crispy pastry stuffed with potato and peas served with mint and imli chutney.</p>
<h4 class="rup">&#8377;250</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
</div>

