
<div class="container-fluid">
    <div class="row rel">
                    <div class="col-sm-12">
                            
<div class="starparallax"></div>
<h1 class="atext awesome wow zoomIn"data-wow-delay="0.2s">STARTERS</h1>
                            </div>
                            </div>
<div class="row">
    <div class="col-sm-4">

   <div class="card card-1">
       <img src="assets\images\1-Papri-Chaat-3-1-of-1.jpg">
       <div class="hit-the-floor">CHAT PAPRI</div>
       <p class="disc">seasoned potatoes and vegetables with crispy wafers</p>
       <h4 class="rup">&#8377;200</h4>
       <button class="slide">Order</button>                
    </div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\_paneer_tikka_rolls-12912.jpg">
<div class="hit-the-floor">PANNER ROLL</div>
<p class="disc">Homemade cheese fried in chickpea batter.</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
    <img src="assets\images\seekh kabab.jpg">
<div class="hit-the-floor">SEENKH KEBAB</div>
<p class="disc">Ground lamb sausage served on sizzler</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">

<div class="card card-1">
<img src="assets\images\kathi-roll.jpg">
<div class="hit-the-floor">KATHI ROLL</div>
<p class="disc">Indian version of a veggie wrap served with mint and imli chutney</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button>                
</div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\samosa.jpg">
<div class="hit-the-floor">Vegetable Samosa</div>
<p class="disc">crispy pastry stuffed with potato and peas served with mint and imli chutney.</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\mixed veg pakora.JPG">
<div class="hit-the-floor">VEGGIE PAKORA</div>
<p class="disc">ightly bathed in a besan batter and fried.</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">

<div class="card card-1">
<img src="assets\images\rupcare_fish-tikka.jpg">
<div class="hit-the-floor">FISH TIKKA</div>
<p class="disc">Fish marinated with yoghurt & spiced in lemon juice & cooked in clay oven</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button>                
</div>

</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\kashmiri.jpg">
<div class="hit-the-floor">KASHMIRI NAAN
</div>
<p class="disc">stuffed with cherries and cashews, great for kids.</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>   
</div>
<div class="col-sm-4">
<div class="card card-1">
<img src="assets\images\_paneer_tikka_rolls-12912.jpg">
<div class="hit-the-floor">Vegetable Samosa</div>
<p class="disc">crispy pastry stuffed with potato and peas served with mint and imli chutney.</p>
<h4 class="rup">&#8377;200</h4>
<button class="slide">Order</button> 
</div>
</div>
</div>
</div>

