<head>
  <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body>
                <div class="container-fluid">
                                <div class="row rel">
                                                <div class="col-sm-12">
                                                        
                            
                            
        <div class="homparallax"></div>
        <h1 class="wneon wow zoomIn"data-wow-delay="0.2s">Welcome to</h1>
        
        <h1 class="neon wow zoomIn"data-wow-delay="0.4s">APSARA</h1>
        </div>
        </div>
       
        <!--
        <div class="row body">
            <div class="col-sm-12">
              
        
                  <div class="card1">
                    <img src="http://www.pngmart.com/files/5/Pyramids-PNG-HD.png" alt="">
                    <h3 class="head">Pyramids</h3>
                    <p class="font">The Egyptian pyramids are ancient pyramid-shaped masonry structures located in Egypt. As of November 2008, sources cite either 118 or 138 as the number of identified Egyptian pyramids.</p>
                  </div>
                  
                  <div class="card2">
                    <img src="https://wallazee.global.ssl.fastly.net/images/dynamic/items/383-1024.png" alt="Eiffel Tower">
                    <h3 class="head">Statue of Liberty</h3>
                    <p class="font">The Statue of Liberty is a colossal neoclassical sculpture on Liberty Island in New York Harbor in New York City, in the United States.</p>
                  </div>
                  
                  <div class="card3">
                    <img src="http://pluspng.com/img-png/download-taj-mahal-png-images-transparent-gallery-advertisement-1185.png" alt="">
                    <h3 class="head">Taj Mahal</h3>
                    <p class="font">The Taj Mahal is an ivory-white marble mausoleum on the south bank of the Yamuna river in the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor.</p>
                  </div>
                    
                


</div>
</div>-->
<div class="row sback">
  <div class="col-sm-4 cbody wow slideInLeft"data-wow-delay="0.5s">
      <div class="card card-1">
    <img src="assets\images\r2.1.jpg">
  </div>
          
</div>

<div class="col-sm-4 wow zoomIn"data-wow-delay="0.5s">
    <h1 class="awesome sectext"><u>Dining at Apsara</u></h1>
    <h3 class="btext">The Apsara is a neighborhood restaurant that combines welcoming and friendly hospitality with creative, market-driven food. For a truly memorable dining experience, cuisine and atmosphere are paired as thoughtfully as food.
      Apsara is the perfect place to enjoy the life and food.
    </h3>
          
</div>
<div class="col-sm-4">
    <div class="card card-1 wow slideInRight"data-wow-delay="0.5s">
        <img src="assets\images\r2.jpg">
      </div>
          
</div>
</div>
<div class="row rel">
        <div class="col-sm-12">
            <div class="secparallax">
                <h1 class="atext hit-the-floor wow zoomIn"data-wow-delay="0.5s">-COME AND SEE-</h1>
                <h4 class="ibtext hit-the-floor wow zoomIn"data-wow-delay="0.5s">We create delicious experiences</h4>
            </div>
            
            </div>
            </div>
            </div>
            <div class="container-fluid">
            <div class="row sbody mmback wow zoomIn"data-wow-delay="0.2s">
              <h1 class="awesome scmargin"><u>Chef’s Special</u></h1>
              <div class="col-sm-4 wow zoomIn"data-wow-delay="0.5s">
                <figure class="snip1584 smargin"><img src="assets\images\caprese-salad-625_625x350_81456380314.jpg" alt="sample87"/>
                  <figcaption>
                    <h3>CAPRESE SALAD</h3>
                    <h5>ORDER</h5>
                  </figcaption><a href="#"></a>
                </figure>
              </div>
              <div class="col-sm-4 wow zoomIn"data-wow-delay="0.5s">
                <figure class="snip1584 smargin"><img src="assets\images\Cheese-paneer--burger.jpg" alt="sample119"/>
                  <figcaption>
                    <h3>CHEESE BURGER</h3>
                    <h5>ORDER</h5>
                  </figcaption><a href="#"></a>
                </figure>
              </div>
              <div class="col-sm-4 wow zoomIn"data-wow-delay="0.5s">
                <figure class="snip1584 smargin"><img src="assets\images\Paneer-Tikka-Sandwich.jpg" alt="sample120"/>
                  <figcaption>
                    <h3>PANNER SANDWICH</h3>
                    <h5>ORDER</h5>
                  </figcaption><a href="#"></a>
                </figure>
              </div>
            </div>
            <div class="row sbody mmback">
              <div class="col-sm-4">
                <figure class="snip1584 smargin wow zoomIn"data-wow-delay="0.8s"><img src="assets\images\red-sauce-pasta-recipe-1.jpg" alt="sample87"/>
                  <figcaption>
                    <h3>RED SAUCE PASTA</h3>
                    <h5>ORDER</h5>
                  </figcaption><a href="#"></a>
                </figure>
              </div>
              <div class="col-sm-4">
                <figure class="snip1584 smargin wow zoomIn"data-wow-delay="0.8s"><img src="assets\images\veggie burger.jpg" alt="sample119"/>
                  <figcaption>
                    <h3>VIGGIE BURGER</h3>
                    <h5>ORDER</h5>
                  </figcaption><a href="#"></a>
                </figure>
              </div>
              <div class="col-sm-4">
                <figure class="snip1584 smargin wow zoomIn"data-wow-delay="0.8s"><img src="assets\images\CHICKEN DOMINATOR.jpg" alt="sample120"/>
                  <figcaption>
                    <h3>CHICKEN DOMINATOR</h3>
                    <h5>ORDER</h5>
                  </figcaption><a href="#"></a>
                </figure>
              </div>
            </div>
            </div>
            <div class="container-fluid">
            <div class="row wmargin">
              <div class="col-sm-3">
                <div>
                    <img class="csize" src="assets\images\clock.png">
                
                  <h2 class="chead" style="margin-left:52px;">FAST DELIVERY</h2>
                  <h2 class="bar">&#8213;</h2>
                  <h5 class="ctext">Everything you order at QuickFood will be quickly delivered to your door.</h5>
                </div>
              </div>
            
            <div class="col-sm-3">
                <div>
                  <img class="csize" src="assets\images\salad.png">
                  <h2 class="chead" style="margin-left:69px;">FRESH FOOD</h2>
                  <h2 class="bar">&#8213;</h2>
                  <h5 class="ctext">We use only the best ingredients to cook the tasty fresh food for you.</h5>
                </div>
              </div>
              <div class="col-sm-3">
                  <div>
                      <img class="csize" src="assets\images\chef (1) copy.PNG">
               
                    <h2 class="chead">EXPERIENCED CHEFS
                      </h2>
                      <h2 class="bar">&#8213;</h2>
                    <h5 class="ctext">Our staff consists of chefs and cooks with years of experience.</h5>
                  </div>
                </div>
                <div class="col-sm-3">
    
                <div>
                    <img class="csize" src="assets\images\tray copy.PNG">
              
                  <h2 class="chead">A VARIETY OF DISHES</h2>
                  <h2 class="bar">&#8213;</h2>
                      <h5 class="ctext">In our menu you’ll find a wide variety of dishes, desserts, and drinks..</h5>
                    </div>
                  </div>
                </div>

<div class="row rel">
  <div class="col-sm-12">
      <div class="bookparallax">
          <h1 class="atext hit-the-floor wow fadeIn"data-wow-delay="0.5s">-NOW BOOKING-</h1>
          <h2 class="botext hit-the-floor wow fadeIn"data-wow-delay="0.5s">Private Dinners & Happy Hours</h2>
      </div>
      
      </div>


</div>      
<!--below restaurent images-->
<div class="row">
    <div class="col-sm-4">
        <figure class="snip0015">
            <img src="assets\images\k1.jpg" alt="sample38"/>
            <figcaption>
              <h2 class="ksize"><span>Kitchen</span></h2>
              <p class="isize">Our modern kitchen is the heart of Avenue.</p>
         
            </figcaption>			
          </figure>
                  </div>
                  <div class="col-sm-4">
                      <figure class="snip0015">
                          <img src="assets\images\in1.jpg" alt="sample39"/>
                          <figcaption>
                            <h2 class="ksize"><span>Interior</span> </h2>
                            <p class="isize">Do you value relaxing, friendly atmosphere?</p>
                          
                          </figcaption>			
                        </figure>
                    </div>
                    <div class="col-sm-4">
                        <figure class="snip0015">
                            <img src="assets\images\e1.jpg" alt="sample40"/>
                            <figcaption>
                              <h2 class="ksize"><span>Exterior</span></h2>
                              <p class="isize">We have very attractive and comfortable exterior.</p>
                             
                            </figcaption>			
                          </figure>
                      </div>
                  </div>
                  <div class="row rel">
                    <div class="col-sm-12">
                            <div class="revparallax">
                              <h1 class="rtext">Our Visitors Just Love <br>
                                Our Food!</h1>
                                <h2 class="rbar">&#8213;</h2>
                             
                            </div>
                            
</div>

</div>
    <div class="row rel">
        <div class="col-sm-6">
          <p class="rttext">"I've been eating their business lunches for the past 7 years. Not even once have I had any unpleasant experience. And the dishes always taste fresh and good!

              </p>
        </div>
        <div class="col-sm-6">
          
          <p class="rttext">"The prices are as good as the menu! Each time I 
            spend less money than anywhere else and get a fresh, tasty, homemade dinner!</p>
        </div>
      </div>
<!-- footer below -->


        </div>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>